{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Systems</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            My Systems
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'add_system'%}" class="btn btn-primary">Add system</a>
    </div>
  </div>

  <div class="container">
    {% include 'partials/_messages.html' %} {% if expenses.count %}

    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">

        <div class="form-group">
          <input type="text" class="form-control" id="searchField" placeholder="Search">
        </div>
      </div>
    </div>
<div class="app-table">

